.storeList {
	&-wrap {
		.storeList-inner {
			width:100%;
			height:10.8rem;
			display:flex;
			padding:1.2rem 1.6rem;
			border-bottom:1px solid $color-gray04;
			box-sizing:border-box;
			&-link {
				display:flex;
				min-width:90%;
				height:100%;
				border:none;
				.storeList-img {
					max-width:8.7rem;
					margin-right:2.5rem;
					>img {
						min-width:100%;
						height:100%;
						border-radius:8px;
					}
				}
				.storeList-title {
					width:100%;
					position:relative;
					overflow:hidden;
					&_contents {
						display:flex;
						flex-direction:column;
						min-width:70%;
						span {
							display:block;
							overflow:hidden;
							white-space:nowrap;
							text-overflow:ellipsis;
							margin-bottom:0.4rem;
						}
						small {
							margin-bottom:10px;
						}
					}
				}
			}
			// 하트 아이콘
            .storeList-likeIcon {
				min-width: 10%;
				margin-top:auto;
                img {
                    width: 2rem;
                }
			}
		}
	}
}