.storeItem {
    img {
        width: 100%;
    }
    &.padding-top-header {
        padding-top: 4.6rem;
    }
    &-item {
        &-name {
            padding: 1.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $color-gray04;
            &__label {
                background-color: $color-gray02;
                color: $color-gray06;
                border-radius: 1.1rem;
                padding: 0.2rem 1rem 0.3rem;
            }
        }
        &-content {
            padding: 0.7rem 1.6rem 0;
            margin-bottom: 10.2rem;
            h4 {
                margin-bottom: 1rem;
            }
            ul {
                display: flex;
                margin-bottom: 1rem;
            }
            li {
                padding: 0.2rem 1rem 0.3rem;
                color: $color-gray02;
                background-color: $color-gray04;
                border-radius: 4px;
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }

    &-menu {
        background-color: $color-gray06;
        width: 100%;
        max-width: 72rem;
        position: fixed;
        z-index: 3;
        bottom: 0;
        display: flex;
        padding: 1.6rem 1.6rem 3.4rem;
        border-top: 1px solid $color-gray04;
        box-sizing: border-box;
        &__like {
            text-align: center;
            width: 4.4rem;
            margin-right: 1.2rem;
            img {
                width: 2.4rem;
                margin: 0 auto;
            }
            span {
                color: $color-gray03;
                display: block;
            }
        }
        .chatting-btn {
            width: calc(100% - 4.4rem);
        }
    }
    .header-inner {
        border-bottom: 0;
        img {
            width: 100%;
            display: block;
        }
        &-back {
            width: 0.8rem;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: #fff !important;
   }
}
