//header 영역
.header-wrap {max-width: calc(72rem - 3.2rem); width:calc(100% - 3.2rem);  padding:0 1.6rem; display: flex; justify-content: space-between; align-items: center; position: fixed; z-index: 9999; background-color: $color-gray06; 
    .header-inner {width: 100%;height: 4.6rem; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid $color-gray04;  }
    .home-title {margin: 0.7rem 0;}
    .home-topicon { display: flex; align-items: center;
        a {cursor: pointer;}
        li:not(:nth-last-child(1)) { margin-right: 1.6rem;}
    }
}
//nav영역
.nav-wrap { width:100%; max-width: 72rem; height: 8.3rem; position:fixed; display: flex; bottom: 0; box-shadow: 0px -9px 8px -12px $color-gray03; background-color:$color-gray06; z-index: 9999;
    .nav-list { width: calc(100% - 3.2rem);padding:0 1.6rem ; display : flex; justify-content: space-between; }
    .nav-list :nth-of-type(3) > a > img  { position: absolute; top: -10px; left: calc(50% - 22px);}
    .nav-list :nth-of-type(3) > a > img + span { padding-top: 26px;}
    .nav-list > li { width: 100%; position: relative; color:$color-gray03;}
    .nav-list > li.active { color:$color-gray01;}
    .nav-list > li > a { min-width: 4.4rem; height: 44px; display: flex; flex-direction: column; text-align: center; padding: 20px 0;}
    .nav-list > li > a > img { margin: 0 auto; margin-bottom: 5px;}
}
//내용 
.container-wrap{ padding:4.4rem 1.6rem 8.3rem; }

//사이드메뉴
.header-position {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    }
.side-filter { overflow-y: auto; transform: translateX(100%); opacity: 0; transition: 0.3s; width: 100%; z-index: 10000; position: fixed; max-width: 72rem; height: 100vh; background-color: #fff;
    &.on { transform: translateX(0%); opacity: 1;}
    &_depth1 {width: 100%;
        &.on{border-bottom: 1px solid #E8E8E8; 
            img {transform: rotate(270deg);}} 
    }
    &-depth2 {background-color: #F6F6F6; height: 0; overflow: hidden; transition: 0.3s;
        li:last-child {border-bottom: 0;}
        &.on {height: 604px;}
    }
    &-item {padding: 1.6rem 2.6rem 1.6rem 3.6rem; cursor: pointer;}
    &__close-btn img { max-width: 1.4rem; vertical-align: middle;}
    &_flex {display: flex; justify-content: space-between; align-items: center; padding: 1.6rem 2.6rem 1.6rem 3.6rem; cursor: pointer;}
    li{ border-bottom: 1px solid #E8E8E8;
        
        // > a , > p {}
        & + li img { max-width: 0.8rem; transform: rotate(180deg); transition: 0.3s;}
        & + li span img {transform: rotate(180deg) translateY(-2px); margin-left: 0.6rem;}
    }
}