//header 영역
.header-wrap {
	padding:0 1.6rem;
	position:fixed;
	z-index:9999;
	height:4.4rem;
	display:flex;
	width: 100%;
	max-width: 72rem;
	box-sizing: border-box;
	justify-content:space-between;
	align-items:center;
	border-bottom:1px solid $color-gray04;
	background-color: #fff;
	.home-title {
		margin:0.7rem 0;
	}
	.home-topIcon {
		display:flex;
		align-items:center;
		a {
			cursor:pointer;
		}
		li:not(:nth-last-child(1)) {
			margin-right:1.6rem;
		}
	}
}
//nav영역
.nav {
	position:fixed;
	display:flex;
	bottom:0;
	z-index:9999;
	width:100%;
	max-width:72rem;
	.nav-wrap {
		width: 100%;
		position: relative;
		height: 9.5rem;
		overflow: hidden;
		.nav-list {
			position: absolute;
			background-color:$color-gray06;
			bottom: 0;
			width: 100%;
			box-shadow: 0 1px 7px 0 #9E9E9E;
			display:flex;
			justify-content:space-between;
			max-height: 8.3rem;
		}
		.nav-list>li {
			width:100%;
			position:relative;
			color:$color-gray03;
		}
		.nav-list>li.active {
			color:$color-gray01;
		}
		.nav-list>li>a {
			min-width:4.4rem;
			height:44px;
			display:flex;
			flex-direction:column;
			text-align:center;
			padding:20px 0;
		}
		.nav-list>li>a>img {
			width: 2.4rem;
			margin:0 auto;
			margin-bottom:5px;
		}
	}
	.nav-write-btn {
		font-size: 1.5rem;
		font-weight: 500;
		background-color: #F5D25D;
		border-radius: 2.2rem;
		padding: 1.1rem 1.9rem;
		position: absolute;
		right: 1.6rem;
		bottom: 9.8rem;
	}
}
//내용 
.container-wrap {
	padding:4.4rem 0 8.3rem;
}
//사이드메뉴
.header-position {
	position:absolute;
	overflow-x:hidden;
	overflow-y:scroll;
	height:100vh;
	width:100%;
	left:0;
	top:0;
	bottom:0;
}
.side-filter {
	overflow-y:auto;
	transform:translateX(100%);
	opacity:0;
	transition:0.3s;
	width:100%;
	z-index:10000;
	position:fixed;
	max-width:72rem;
	height:100vh;
	background-color:#fff;
	&.on {
		transform:translateX(0%);
		opacity:1;
	}
	&_depth1 {
		width:100%;
		&.on {
			border-bottom:1px solid #E8E8E8;
			img {
				transform:rotate(270deg);
			}
		}
	}
	&-depth2 {
		background-color:#F6F6F6;
		height:0;
		overflow:hidden;
		transition:0.3s;
		li:last-child {
			border-bottom:0;
		}
		&.on {
			height:604px;
		}
	}
	&-item {
		padding:1.6rem 2.5rem 1.6rem 1.6rem;
		cursor:pointer;
	}
	&__close-btn {
		padding-top:0;
		padding-bottom:0;
		height:4.4rem;
		button {
			height:100%;
		}
		img {
			max-width:1.4rem;
			vertical-align:middle;
		}
	}
	&_flex {
		display:flex;
		justify-content:space-between;
		align-items:center;
		padding:1.6rem 2.5rem 1.6rem 1.6rem;
		cursor:pointer;
	}
	li {
		border-bottom:1px solid #E8E8E8;
		&+li img {
			max-width:0.8rem;
			transform:rotate(180deg);
			transition:0.3s;
		}
		&+li span img {
			transform:rotate(180deg) translateY(-2px);
			margin-left: 0.6rem;
		}
	}
}